<div fxFill fxLayout="column" fxLayoutAlign="center start">
    <button mat-raised-button color="primary" (click)="observableCreate()">Create / Observable</button>
    <button mat-raised-button color="primary" (click)="fromCLick()">From / Observable</button>
    <button mat-raised-button color="primary" (click)="offCLick()">Off / Observable</button>
    <button mat-raised-button color="primary" (click)="intervalCLick()">Interval / Observable</button>
    <button mat-raised-button color="primary" (click)="timerCLick()">Timer / Observable</button>
    <button mat-raised-button color="primary" (click)="UnsubscribeCLick()">Unsubscribe / Observable</button>
    <button mat-raised-button color="primary" (click)="fromEventClick()">FromEvent / Observable</button>



    
</div>