<mat-toolbar fxLayout="row" fxLayoutAlign="space-between center">
  <span routerLink="">My App</span>
  <span></span>
  <div fxLayoutGap="20px">
    <button mat-raised-button [matMenuTriggerFor]="menu">Communication</button>
    <mat-menu #menu="matMenu">

      <button mat-menu-item routerLink="Communication/Input">
        <span>Input Binding</span>
      </button>
      <button mat-menu-item routerLink="Communication/Event">
        <span>Event Biding</span>
      </button>
      <button mat-menu-item routerLink="Communication/Intercepting">
        <span>Intercepting</span>
      </button>
      <button mat-menu-item routerLink="Communication/Clients">
        <span>Example insert</span>
      </button>

    </mat-menu>

    <button  mat-raised-button [matMenuTriggerFor]="menuServ">Services</button>
    <mat-menu #menuServ="matMenu">
      <button  mat-menu-item routerLink="Services">
        <span>Services 1</span>
      </button>
      <button mat-menu-item routerLink="Services/Services2">
        <span>Service 2</span>
      </button>
    </mat-menu>

    <button  mat-raised-button [matMenuTriggerFor]="menuLife">LifeCycle</button>
    <mat-menu #menuLife="matMenu">
      <button  mat-menu-item routerLink="LifeCycle/Main">
        <span>Main</span>
      </button>
    
      <button  mat-menu-item routerLink="LifeCycle/OnChanges">
        <span>OnChanges</span>
      </button>
    </mat-menu>
    
    <button  mat-raised-button [matMenuTriggerFor]="menuObs">Observables</button>
    <mat-menu #menuObs="matMenu">
      <button  mat-menu-item routerLink="Observables/Async">
        <span>Async</span>
      </button>
    
      <button  mat-menu-item routerLink="Observables/Basic">
        <span>Basic</span>
      </button>
      <button  mat-menu-item routerLink="Observables/Subjects ">
        <span>Subjects</span>
      </button>
    </mat-menu>

    <button  mat-raised-button [matMenuTriggerFor]="menuForms">Forms</button>
    <mat-menu #menuForms="matMenu">
      <button  mat-menu-item routerLink="Forms/ReaciveForm">
        <span>Reactive Form</span>
      </button>
      <button  mat-menu-item routerLink="Forms/FormGroup">
        <span>Form Group</span>
      </button>
      <button  mat-menu-item routerLink="Forms/FormBuilder">
        <span>Form Builder</span>
      </button>
      <button  mat-menu-item routerLink="Forms/FormArray">
        <span>Form Array</span>
      </button>
    
    </mat-menu>
    <a mat-raised-button routerLink="rxjs" routerLinkActive="mat-accent">RxJs</a>

  </div>
</mat-toolbar>
<router-outlet></router-outlet>



<!-- <app-basic-observables></app-basic-observables> -->
<!-- <app-async-obervables></app-async-obervables> -->
<!-- <app-subjects></app-subjects> -->