<h1>{{tittle}}</h1>
<div class="horizontal-buttons">
    <button mat-raised-button color="primary" (click)="btClick(1)">
        <mat-icon>exposure_plus_1</mat-icon>
    </button>
    <button mat-raised-button color="primary"  (click)="btClick(2)">
        <mat-icon>exposure_plus_2</mat-icon>
    </button>

    <button mat-raised-button color="accent" (click)="btClick(-1)">
        <mat-icon>exposure_neg_1</mat-icon>
    </button>

    <button mat-raised-button color="accent" (click)="btClick(-2)">
        <mat-icon>exposure_neg_2</mat-icon>
    </button>
</div>